@import url("../css/reset.css");
@font-face {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSansBold.woff2") format("woff2"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype"); }

@font-face {
  font-family: OpenSansItalic;
  src: url("../fonts/OpenSansItalic.woff2") format("woff2"), url("../fonts/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic.ttf") format("truetype"); }

@font-face {
  font-family: OpenSansSemibold;
  src: url("../fonts/OpenSansSemibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold.woff") format("woff"), url("../fonts/OpenSansSemibold.ttf") format("truetype"); }

@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype"); }

@font-face {
  font-family: OpenSansLight;
  src: url("../fonts/OpenSansLight.woff2") format("woff2"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

body {
  font-family: OpenSansRegular, Arial, sans-serif;
  margin: 0 auto; }

.all-wr {
  max-width: 1160px;
  margin: 0 auto; }

.b-header {
  background-color: #ffffff;
  padding-top: 35px;
  overflow: hidden; }
  .b-header_line {
    height: 40px; }
  .b-header_logo {
    float: left;
    color: #BCEC00;
    font: 24px OpenSansSemibold;
    line-height: 40px; }
  .b-header_menu {
    text-align: center; }
  .b-header_contact {
    float: right;
    line-height: 40px; }
  .b-header_links {
    float: left;
    margin-bottom: 70px; }
  .b-header_link {
    float: left;
    padding-right: 15px;
    list-style: none; }

.b-menu_link {
  font: 18px OpenSansRegular;
  color: #000000;
  padding-left: 40px;
  line-height: 40px; }
  .b-menu_link:first-child {
    padding-left: 0; }
  .b-menu_link:hover {
    color: #BCEC00; }
  .b-menu_link__active {
    font: 18px OpenSansBold; }

.b-slider {
  position: relative;
  width: 1000px;
  height: 600px; }

.b-slide {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 40px 0;
  position: absolute;
  opacity: 0;
  z-index: 1; }
  .b-slide__current {
    position: absolute;
    opacity: 1;
    z-index: 2; }
  .b-slide_heading {
    font: 38px OpenSansBold;
    color: #000000;
    width: 385px;
    height: 118px;
    display: inline-block;
    text-align: left;
    margin-top: 100px;
    line-height: 35px; }
  .b-slide span {
    color: #BCEC00; }
  .b-slide_text {
    margin-top: 80px;
    margin-left: 30px;
    font: 18px OpenSansSemibold;
    width: 300px;
    display: block;
    text-align: left;
    position: absolute;
    top: 300px; }
  .b-slide_pic {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -90px;
    right: 0; }
    .b-slide_pic__green-o {
      display: inline-block;
      z-index: 1;
      position: absolute;
      width: 200px;
      height: 200px;
      left: 505px;
      top: 75px;
      border: 45px solid rgba(188, 236, 0, 0.31);
      -webkit-border-radius: 125px;
              border-radius: 125px; }
    .b-slide_pic__green-f {
      display: inline-block;
      z-index: 1;
      position: absolute;
      width: 80px;
      height: 80px;
      -webkit-border-radius: 125px;
              border-radius: 125px;
      background-color: rgba(188, 236, 0, 0.31);
      right: 150px;
      top: -115px; }
    .b-slide_pic__woman {
      display: inline-block;
      width: 550px;
      height: 100%;
      background-image: url(../img/balerina.png);
      background-repeat: no-repeat;
      position: absolute;
      top: -100px;
      left: 285px;
      -webkit-background-size: 550px auto;
              background-size: 550px auto;
      z-index: 3; }
    .b-slide_pic__woman2 {
      display: inline-block;
      width: 550px;
      height: 100%;
      background-image: url(../img/1.png);
      background-repeat: no-repeat;
      position: absolute;
      top: -100px;
      left: 300px;
      -webkit-background-size: 550px auto;
              background-size: 550px auto;
      z-index: 3; }
    .b-slide_pic__woman3 {
      display: inline-block;
      width: 300px;
      height: 100%;
      background-image: url(../img/4.png);
      background-repeat: no-repeat;
      position: absolute;
      top: -100px;
      left: 285px;
      -webkit-background-size: 300px auto;
              background-size: 300px auto;
      z-index: 3; }
  .b-slide_lift {
    position: absolute;
    top: 255px;
    right: -200px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.b-lift {
  width: 240px;
  height: 55px; }
  .b-lift_num-text {
    float: left;
    font: 40px OpenSansSemibold;
    color: #BCEC00; }
  .b-lift_circles {
    float: right; }
  .b-lift_circle {
    line-height: 55px;
    float: left;
    font-size: 23px;
    color: #E4E4E4;
    margin-left: 25px;
    list-style-type: disc; }
    .b-lift_circle__active {
      color: #BCEC00; }

.b-link {
  float: left;
  width: 30px;
  height: 30px;
  display: inline-block; }
  .b-link__inst {
    background: url(../img/insta.png) no-repeat;
    -webkit-background-size: 30px auto;
            background-size: 30px auto; }
  .b-link__viber {
    background: url(../img/viber.png) no-repeat;
    -webkit-background-size: 30px auto;
            background-size: 30px auto; }
  .b-link__telegram {
    background: url(../img/telegram.png) no-repeat;
    -webkit-background-size: 30px auto;
            background-size: 30px auto; }
