
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    margin: 0 auto;
    padding: 0;
    color: #000;
    -webkit-font-smoothing: antialiazed;
    -webkit-overflow-scrolling: touch;
}


/*//////////////////////////////////////////////////////   Форма   /////////////////////////////*/

input[type="text"] {
    background-color: #F7F7F7;
    border-style: none;
    border-radius: 5px;
    padding: 11px;
    padding-bottom: 12px;
    padding-left: 16px;
    color: #797979;
    font-family: "Montserrat";
    font-size: 14px;
    margin-bottom: 30px;
    width: 95%
 }


#form-form {
    background-color: white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-top: 30px;
}

.form-strokes {
    color: #3D3D3D;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.form-fields {
    background-color: #F7F7F7;
    border-style: none;
    border-radius: 5px;
    padding: 11px;
    padding-bottom: 12px;
    padding-left: 16px;
    color: #797979;
    font-family: "Montserrat";
    font-size: 14px;
    margin-bottom: 30px;
    width: 95%

}

#form-button {
    background-color: #39A0FC;
    color: white;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    margin-top: 20px;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-style: none;
}

    #form-button:hover {
        background-color: #0072D8;
    }
    #loading {
        margin-bottom: 0;
        margin-top: 15px;
    }

.ostavte {
    color: black;
    font-family: "Montserrat";
    font-weight: 500 ;
    font-size: 30px;
    text-align: center;
    line-height: 35px
}

.vstrecha {
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500 ;
    color: #989898;
    text-align: center;
    margin-bottom: 55px;
}


@media screen and (max-width: 990px) {
    .bk {
        text-align: center;
    }

    .vim {
        text-align: center;
    }

    .slogan {
        text-align: center;
    }

    #btn {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 150px;
    }

    .stickers {
        transform: scale(0.8, 0.8);
    }

    .icons {
        transform: scale(0.8, 0.8);
    }

   
}

@media screen and (max-width: 770px) {
    .forma {
        padding-bottom: 60px;
    }
    .form-form {
        margin-bottom: 60px;
    }

    @media screen and (max-width: 558px) {
        .nomer {
            margin-top: 10px;
            margin-left: 10px;
            font-family: "Montserrat";
        }

        .logo {
            margin-left: 10px;
            margin-top: 20px;
        }

        .bk {
            margin-top: 50px;
        }

        #btn {
            margin-top: 20px;
        }

        .headers {
            margin-top: 40px;
            font-size: 25px;
        }
        .headers-low {
            font-size: 15px;
        }

        #form-button {
            margin-top: 10px;
        }
      
       
        }
    }
